.window-card > .card-body {
  padding: 0 1.5rem 1.5rem;
}

.window-card {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0;
  border-radius: 0;
  border: 0;
}

.card-container {
  padding-left: 0;
  padding-right: 0;
}

.card-table {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: -1.5rem;
}

.card-table > table > thead {
  display: none;
}

@media (min-width: 576px) {
  body {
    background-color: #f7f8f9;
  }

  .card-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .window-card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border-radius: 0.25rem !important;
    border: 1px solid rgba(0,0,0,.125);
  }

  .window-card > .card-body {
    padding: 2rem 1.5rem 1.5rem;
  }

  .card-table > table > thead {
    display: table-header-group;
  }
}

.card-table > table > tbody > tr:hover,
.card-table > table > tbody > a:hover {
  background-color: rgba(0,0,0,.03);
  text-decoration: none;
}

.card-table tr td:first-child,
.card-table tr th:first-child,
.card-table a td:first-child,
.card-table a th:first-child {
  padding-left: 1.65rem;
}

.card-table tr th,
.card-table a th {
  color: #737373;
}

.card-table table thead > a[role="row"],
.card-table table tbody > a[role="row"] {
  display: table-row;
  color: inherit;
}

.card-table tr td:last-child,
.card-table tr th:last-child,
.card-table a td:last-child,
.card-table a th:last-child {
  padding-right: 1.65rem;
}

.card-table thead > tr > th {
  border: 0;
}

.h2-more {
  float: right;
  font-size: 1rem;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}


/* Blogging section */
.blog-line-separator {
  margin-top: 1.5em;
  margin-bottom: 2em;
  border-color: rgba(0,0,0,.125);
}

@media (min-width: 576px) {
  .blog-line-separator {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.blog-line-separator-end {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.blog-content h1, .blog-content .h1 {
  font-size: 1.9em;
}

.blog-content h2, .blog-content .h2 {
  font-size: 1.75em;
}

.blog-content h3, .blog-content .h3 {
  font-size: 1.6em;
}

.blog-content h4, .blog-content .h4 {
  font-size: 1.4em;
}

.blog-content h5, .blog-content .h5 {
  font-size: 1.2em;
}

.blog-content h6, .blog-content .h6 {
  font-size: 1em;
}
