@model List<BlogPost>
@{
    ViewData["Title"] = "Blogs";
    Dictionary<int, BlogPostVote> pv = ViewBag.PostsVote;
}
<link rel="stylesheet" href="/lib/site-blog/main.css" />

<div class="row">
<div class="container card-container">

<div class="card window-card container-fluid">
<div class="card-body">
<h2 class="mb-3">Blogs</h2>
<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
@{ TempData.Remove("StatusMessage"); }
<p class="mb-0">
    <a asp-in-roles="Administrator" asp-action="Publish" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Publish</a>
</p>
</div>
</div>

<partial name="BlogList" model="@Model" />
    
@if (Model.Count == 0)
{
    <h4 class="text-muted">no data.</h4>
}
else
{
    <pagination bs-current-page="@ViewBag.Page" />
}
</div>
</div>
